@model LoginUserViewModel;
@{
    ViewData["Title"] = "Login";
}

<section class="user-input-content">
    <partial name="~/Views/Shared/Partials/_LocalPageNavPartial.cshtml" model="@ViewData["Title"]" />

    <div class="container">
        <form class="user-input-form" asp-controller="Login" asp-action="index" method="post" novalidate>

            <h6 class="user-input-title">Login</h6>

            <div class="user-input-item">
                <input class="user-input" asp-for="Email" placeholder="Email" />
                <span asp-validation-for="Email"></span>
            </div>

            <div class="user-input-item">
                <input class="user-input" asp-for="Password" placeholder="Password" />
                <span asp-validation-for="Password"></span>
            </div>

            <div class="row user-button-content">
                <div class="col-lg-6">
                    <button class="input-login-button" type="submit">Login</button>
                </div>
                <div class="col-lg-6">
                    <a class="input-login-button" asp-controller="Register" asp-action="Index">Register</a>
                </div>
            </div>
        </form>
    </div>
</section>